**/target/*
**/__pycache__/*
**/.cache/*
**/emit/*
**/temp/*
Cargo.lock
*.log
*.DS_Store
*.swp
.idea
*.pyc
*.o
*.dylib
**mu-client-pypy**
**RPySOM**
.gitignore
cmake-build-debug/*
Notes/*
CMakeLists.txt